<app-header></app-header>
<div id="content-page" class="content-page m-0 mx-5">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-6 col-lg-3" *ngFor="let item of data">
        <div class="iq-card iq-card-block iq-card-stretch iq-card-height">
          <div class="iq-card-body">
            <div class="d-flex align-items-center">
              <div class="rounded-circle iq-card-icon bg-primary"><i class="ri-coupon-fill"></i></div>
              <div class="text-left ml-3">
                <h2 class="mb-0"><span style="font-size: 16px;">{{ item.code }}</span></h2>
                <h5 class="">{{ item.description ? item.description : "Áp dụng toàn bộ" }}</h5>
                <p>Giảm {{ item.percent }} %</p>
              </div>
            </div>
          </div>
          <button type="button" (click)="handleCopy(item.code)" class="btn btn-primary">Sao chép</button>
        </div>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>
