<app-sidebar></app-sidebar>
<app-header></app-header>
<div id="content-page" class="content-page">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-12">
        <div class="iq-card">
          <div class="iq-card-header d-flex justify-content-between">
            <div class="iq-header-title">
              <h4 class="card-title">Danh sách tài khoản</h4>
            </div>
            <div class="iq-card-header-toolbar d-flex align-items-center">
              <a routerLink="/admin/account/add" class="btn btn-primary">Thêm mới</a>
            </div>
          </div>
          <div class="iq-card-body">
            <div class="col-lg-4 p-0">
              <form [formGroup]="myGroup">
                <input type="text" class="form-control" placeholder="Search in Account.." formControlName="keywords"
                  (input)="handleChange($event)" />
              </form>
            </div>
            <div class="table-responsive">
              <table class="data-tables table table-striped table-bordered">
                <thead>
                  <tr>
                    <th>Hình ảnh</th>
                    <th>Tên tài khoản</th>
                    <th>Tên đầy đủ</th>
                    <th>Email</th>
                    <th>Vai Trò</th>
                    <th>Giới tính</th>
                    <th>Trạng Thái</th>
                    <th>Hành động</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let item of data | paginate:{itemsPerPage: 10, currentPage:page}  ">
                    <td>
                      <img style="width: 100px;" src="{{ item.userAvatar ? item.userAvatar : imageDefault }}" alt="{{ item.userName }}" class="card-img" />
                    </td>
                    <td>{{item.userName ?? "Không có dữ liệu"}}</td>
                    <td>{{item.userFullName ?? "Không có dữ liệu"}}</td>
                    <td>{{item.userEmail ?? "Không có dữ liệu"}}</td>
                    <td>{{item.role[0].roleName ?? "Không có dữ liệu"}}</td>
                    <td>{{item.userGender == 0 ? "Nam" : "Nữ"}}</td>
                    <td>{{item.userActive == 0 ? "Hoạt động" : "Bị Khóa"}}</td>
                    <td>
                      <div class="flex align-items-center list-user-action" *ngIf="item.role[0].roleName == 'User'">
                        <a class="bg-primary" title="reset-password" href="javascript:void();"
                          (click)="onResetPassword(item.userName)"><i class="ri-list-settings-line"></i></a>
                        <a class="bg-primary" title="edit" href="javascript:void();"
                          (click)="onEditAccount(item.userName)"><i class="ri-pencil-line"></i></a>
                        <a class="bg-primary" title="delete" href="javascript:void();" (click)="onDeleteAccount(item)"><i
                            class="ri-delete-bin-line"></i></a>
                      </div>
                    </td>
                  </tr>
                </tbody>
              </table>
              <pagination-controls class="pagination" (pageChange)="page = $event" previousLabel=""
                nextLabel=""></pagination-controls>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
