<div class="iq-top-navbar" style="width: 100% !important;">
  <div class="iq-navbar-custom">
    <nav class="navbar navbar-expand-lg navbar-light p-0">
      <div class="iq-menu-bt d-flex align-items-center">
        <div class="wrapper-menu">
          <div class="main-circle"><i class="las la-bars"></i></div>
        </div>
        <div class="iq-navbar-logo d-flex justify-content-between">
          <a [routerLink]="['/']" class="header-logo">
            <!-- <img src="../../../../../assets/images/add-image-icon.jpg" class="img-fluid rounded-normal" alt=""> -->
            <div class="logo-title">
              <span class="text-primary text-uppercase">ShopApp</span>
            </div>
          </a>
        </div>
      </div>
      <div class="navbar-breadcrumb">
        <h5 class="mb-0">
          <a class="navbar-brand" routerLink="/">
            <img [src]="logo" alt="" />
          </a>
        </h5>
      </div>
      <div class="iq-search-bar">
        <!-- <form [formGroup]="dataFormPost" (ngSubmit)="handleSubmit()" class="searchbox">
          <input type="text" class="text search-input" formControlName="keyword" placeholder="Tìm kiếm sản phẩm...">
          <button class="search-link" style="background-color: transparent;border: none;" type="button"><i
              class="ri-search-line"></i></button>
        </form> -->
        <ul class="navbar-nav m-auto mt-2 py-4 mt-lg-0 menu">
          <li class="nav-item active">
            <a class="nav-link" routerLink="/"
              >Home <span class="sr-only">(current)</span></a
            >
          </li>
          <li class="nav-item active">
            <a class="nav-link" routerLink="/product"
              >Shop <span class="sr-only">(current)</span></a
            >
          </li>
          <li class="nav-item active">
            <a class="nav-link" routerLink="/faq"
              >Faq <span class="sr-only">(current)</span></a
            >
          </li>
         
          <li class="nav-item active">
            <a class="nav-link" routerLink="/blog"
              >Blog <span class="sr-only">(current)</span></a
            >
          </li>
          <li class="nav-item active">
            <a class="nav-link" routerLink="/contact"
              >Contact <span class="sr-only">(current)</span></a
            >
          </li>
        </ul>
      </div>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-label="Toggle navigation">
        <i class="ri-menu-3-line"></i>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto navbar-list">
          <li class="nav-item nav-icon search-content">
            <a href="#" class="search-toggle iq-waves-effect text-gray rounded">
              <i class="ri-search-line"></i>
            </a>
            <form action="#" class="search-box p-0">
              <input type="text" class="text search-input" placeholder="Type here to search...">
              <a class="search-link" href="#"><i class="ri-search-line"></i></a>
            </form>
          </li>
          <!-- <li class="nav-item nav-icon" *ngIf="u_data">
            <a href="#" class="search-toggle iq-waves-effect text-gray rounded">
              <i class="ri-notification-2-line"></i>
              <span class="bg-primary dots"></span>
            </a>
            <div class="iq-sub-dropdown">
              <div class="iq-card shadow-none m-0">
                <div class="iq-card-body p-0">
                  <div class="bg-primary p-3">
                    <h5 class="mb-0 text-white">Thông Báo<small class="badge  badge-light float-right pt-1">4</small>
                    </h5>
                  </div>
                  <a href="#" class="iq-sub-card">
                    <div class="media align-items-center">
                      <div class="">
                        <img class="avatar-40 rounded" src="images/user/1.jpg" alt="">
                      </div>
                      <div class="media-body ml-3">
                        <h6 class="mb-0 ">Đơn hàng giao thành công</h6>
                        <small class="float-right font-size-12">Just Now</small>
                        <p class="mb-0">95.000đ</p>
                      </div>
                    </div>
                  </a>

                </div>
              </div>
            </div>
          </li> -->
          <!-- <li class="nav-item nav-icon dropdown" *ngIf="u_data">
            <a href="#" class="search-toggle iq-waves-effect text-gray rounded">
              <i class="ri-mail-line"></i>
              <span class="bg-primary dots"></span>
            </a>
            <div class="iq-sub-dropdown">
              <div class="iq-card shadow-none m-0">
                <div class="iq-card-body p-0 ">
                  <div class="bg-primary p-3">
                    <h5 class="mb-0 text-white">Tin Nhắn<small class="badge  badge-light float-right pt-1">5</small>
                    </h5>
                  </div>

                  <a href="#" class="iq-sub-card">
                    <div class="media align-items-center">
                      <div class="">
                        <img class="avatar-40 rounded" src="images/user/05.jpg" alt="">
                      </div>
                      <div class="media-body ml-3">
                        <h6 class="mb-0 ">TV Team</h6>
                        <small class="float-left font-size-12">5 Dec</small>
                      </div>
                    </div>
                  </a>
                </div>
              </div>
            </div>
          </li> -->
          <li class="nav-item nav-icon dropdown" *ngIf="u_data">
            <a [routerLink]="['/cart']" class="search-toggle iq-waves-effect text-gray rounded">
              <i class="ri-shopping-cart-2-line"></i>
              <span class="badge badge-danger count-cart rounded-circle">{{ countCart }}</span>
            </a>
          </li>
          <li class="line-height pt-3" *ngIf="u_data">
            <a href="#" class="search-toggle iq-waves-effect d-flex align-items-center">
              <img src="{{u_data.userAvatar ? u_data.userAvatar : imageDefault}}" class="img-fluid rounded-circle mr-3" alt="user">
              <div class="caption">
                <h6 class="mb-1 line-height">{{ u_data.userName }}</h6>
                <p class="mb-0 text-primary">{{ u_data.userEmail }}</p>
              </div>
            </a>
            <div class="iq-sub-dropdown iq-user-dropdown">
              <div class="iq-card shadow-none m-0">
                <div class="iq-card-body p-0 ">
                  <div class="bg-primary p-3">
                    <h5 class="mb-0 text-white line-height">Xin Chào {{ u_data.userName }}</h5>
                  </div>
                  <a (click)="onProfile()" href="javascript:void();" class="iq-sub-card iq-bg-primary-hover">
                    <div class="media align-items-center">
                      <div class="rounded iq-card-icon iq-bg-primary">
                        <i class="ri-file-user-line"></i>
                      </div>
                      <div class="media-body ml-3">
                        <h6 class="mb-0 ">Tài khoản của tôi</h6>
                      </div>
                    </div>
                  </a>
                  <a [routerLink]="['/order']" class="iq-sub-card iq-bg-primary-hover">
                    <div class="media align-items-center">
                      <div class="rounded iq-card-icon iq-bg-primary">
                        <i class="ri-account-box-line"></i>
                      </div>
                      <div class="media-body ml-3">
                        <h6 class="mb-0 ">Đơn hàng của tôi</h6>
                      </div>
                    </div>
                  </a>
                  <div class="d-inline-block w-100 text-center p-3">
                    <a class="bg-primary iq-sign-btn" href="javascript:void(0)" (click)="logout()" role="button">Sign
                      out<i class="ri-login-box-line ml-2"></i></a>
                  </div>
                </div>
              </div>
            </div>
          </li>
          <li class="line-height pt-3" *ngIf="!u_data">
            <a href="#" class="search-toggle iq-waves-effect d-flex align-items-center">
              <img src="../../../../../assets/images/default.png" class="img-fluid rounded-circle mr-3" alt="user">
              <div class="caption">
                <h6 class="mb-1 line-height">login</h6>
                <p class="mb-0 text-primary">login</p>
              </div>
            </a>
            <div class="iq-sub-dropdown iq-user-dropdown">
              <div class="iq-card shadow-none m-0">
                <div class="iq-card-body p-0 ">
                  <div class="bg-primary p-3">
                    <h5 class="mb-0 text-white line-height">login</h5>
                  </div>
                  <div class="d-inline-block w-100 text-center p-3">
                    <a class="bg-primary iq-sign-btn" [routerLink]="['/login']" role="button">Login<i
                        class="ri-login-box-line ml-2"></i></a>
                  </div>
                </div>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </nav>
  </div>
</div>
