.card-category .sp-card-2 {
  border: 1px solid #f9f9f9;
  text-align: left;

  -webkit-box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.3);
  -o-box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.3);
}

.card-category .sp-card-2 .overlap {
  background: #3f51b57a;
  width: inherit;
  height: 0;
  position: absolute;
  text-align: center;
  opacity: 0;
  width: 93%;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.card-category .sp-card-2:hover .overlap {
  opacity: 1;
  height: 204px;
  width: 92%;
}

.card-category .sp-card-2 .overlap a {
  position: relative;
  top: 50%;
  text-decoration: none;
  color: #673ab7;
  padding: 10px;
  font-size: 14px;
  font-weight: 600;
  background: #fff;
}

.card-category .sp-card-2 .card-image {
  text-align: center;
}

.card-category .sp-card-2 .card-image img {
  height: 200px;
}

.card-category .sp-card-2 .card-content {
  padding: 20px;
}

.card-category .sp-card-2 .card-content .card-title {
  font-weight: 600;
}

.card-category .sp-card-2 .card-content .price-start {
  font-weight: 600;
  color: #673ab7;
  float: right;
}

.card-category .sp-card-2 .card-content .card-caption {
  font-size: 14px;
  color: #717171;
  padding: 15px 0px 10px;
}

.card-category .sp-card-2 .card-content .cloth-size,
.card-category .sp-card-2 .card-content .cloth-colors {
  padding: 10px 0;
  font-size: 13px;
  color: #545454;
  text-transform: uppercase;
}

.card-category .sp-card-2 .card-content .cloth-colors span:not(:nth-child(1)) {
  position: absolute;
  width: 15px;
  height: 15px;
  border-radius: 40px;
}

.card-category .sp-card-2 .card-content .cloth-colors .color1 {
  background: red;
  border: 1px solid black;
  margin-left: 10px;
}

.card-category .sp-card-2 .card-content .cloth-colors .color2 {
  background: blue;
  border: 1px solid black;
  margin-left: 35px;
}

.card-category .sp-card-2 .card-content .cloth-colors .color3 {
  background: Orange;
  border: 1px solid black;
  margin-left: 60px;
}

.card-category .sp-card-2 .card-content .cloth-colors .color4 {
  background: black;
  border: 1px solid black;
  margin-left: 85px;
}

@media only screen and (max-width: 480px) {
  .card-category .sp-card-2 {
    width: 100%;
  }

  .card-category ul li:nth-child(3) {
    margin-top: 25px;
    padding: 0 15px;
  }
}

.pagination {
  margin: auto;
}

/* pagination */
.pagination /deep/ .ngx-pagination .current {
  background: #0dd6b8ed !important;
}

.pagination /deep/ .ngx-pagination {
  padding: 0 !important;
}