<app-sidebar></app-sidebar>
<app-header></app-header>

<!-- Page Content  -->
<div id="content-page" class="content-page">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-12">
        <div class="iq-card iq-card-block iq-card-stretch iq-card-height">
          <div
            class="iq-card-header d-flex justify-content-between align-items-center position-relative"
          >
            <div class="iq-header-title">
              <h4 class="card-title mb-0">Sản phẩm mới nhất</h4>
            </div>
            <div class="iq-card-header-toolbar d-flex align-items-center">
              <a
                [routerLink]="['/product']"
                class="btn btn-sm btn-primary view-more"
                >Xem Thêm</a
              >
            </div>
          </div>
          <div class="iq-card-body">
            <div class="row">
              <div
                class="card-category row justify-content-center align-items-center container m-auto"
              >
                <div
                  class="col-md-4 my-4"
                  *ngFor="
                    let item of newProducts
                      | paginate : { itemsPerPage: 6, currentPage: page }
                  "
                >
                  <div class="sp-card-2">
                    <div class="overlap">
                      <a
                        (click)="getDetailProduct(item.productId)"
                        style="cursor: pointer"
                        title="View Details"
                        >View Details</a
                      >
                    </div>
                    <div class="card-image">
                      <img
                        src="{{ item.productImage }}"
                        alt="{{ item.name }}"
                      />
                    </div>

                    <div class="card-content">
                      <span class="card-title">{{ item.productName }}</span>
                      <div
                        class="d-flex my-2"
                        *ngIf="item.productSalePrice == 0"
                      >
                        <span class="price-start">
                          <td>
                            {{
                              item.productPrice
                                | currency : "VND" : "symbol" : "1.0-2"
                            }}
                          </td>
                        </span>
                      </div>
                      <div
                        class="d-flex my-2"
                        *ngIf="
                          item.productSalePrice > 0 &&
                          item.productSalePrice < item.productPrice
                        "
                      >
                        <span class="price-start">
                          <td>
                            {{
                              item.productSalePrice
                                | currency : "VND" : "symbol" : "1.0-2"
                            }}
                          </td>
                        </span>
                        <span
                          class="price-end"
                          style="
                            text-decoration: line-through;
                            color: #6d6767;
                            margin-left: 10px;
                          "
                        >
                          {{
                            item.productPrice
                              | currency : "VND" : "symbol" : "1.0-2"
                          }}
                        </span>
                      </div>
                      <div class="card-caption">
                        <div class="mb-4 d-flex align-items-center">
                          <a
                            href="javascript:void();"
                            (click)="onBuyNow(item.productId)"
                            class="btn btn-primary view-more mr-2"
                            >Mua ngay</a
                          >
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-12">
        <div class="iq-card iq-card-block iq-card-stretch iq-card-height">
          <div
            class="iq-card-header d-flex justify-content-between align-items-center position-relative"
          >
            <div class="iq-header-title">
              <h4 class="card-title mb-0">Sản phẩm đang được giảm giá</h4>
            </div>
            <div class="iq-card-header-toolbar d-flex align-items-center">
              <a
                [routerLink]="['/product']"
                class="btn btn-sm btn-primary view-more"
                >Xem Thêm</a
              >
            </div>
          </div>
          <div class="iq-card-body">
            <div class="row">
              <div
                class="card-category row justify-content-center align-items-center container m-auto"
              >
                <div
                  class="col-md-4 my-4"
                  *ngFor="
                    let item of saleProducts
                      | paginate : { itemsPerPage: 6, currentPage: page }
                  "
                >
                  <div class="sp-card-2">
                    <div class="overlap">
                      <a
                        (click)="getDetailProduct(item.productId)"
                        style="cursor: pointer"
                        title="View Details"
                        >View Details</a
                      >
                    </div>
                    <div class="card-image">
                      <img
                        src="{{ item.productImage }}"
                        alt="{{ item.productName }}"
                      />
                    </div>

                    <div class="card-content">
                      <span class="card-title">{{ item.productName }}</span>
                      <div
                        class="d-flex my-2"
                        *ngIf="item.productSalePrice == 0"
                      >
                        <span class="price-start">
                          <td>
                            {{
                              item.productPrice
                                | currency : "VND" : "symbol" : "1.0-2"
                            }}
                          </td>
                        </span>
                      </div>
                      <div
                        class="d-flex my-2"
                        *ngIf="
                          item.productSalePrice > 0 &&
                          item.productSalePrice < item.productPrice
                        "
                      >
                        <span class="price-start">
                          <td>
                            {{
                              item.productSalePrice
                                | currency : "VND" : "symbol" : "1.0-2"
                            }}
                          </td>
                        </span>
                        <span
                          class="price-end"
                          style="
                            text-decoration: line-through;
                            color: #6d6767;
                            margin-left: 10px;
                          "
                        >
                          {{
                            item.productPrice
                              | currency : "VND" : "symbol" : "1.0-2"
                          }}
                        </span>
                      </div>
                      <div class="card-caption">
                        <div class="mb-4 d-flex align-items-center">
                          <a
                            href="javascript:void();"
                            (click)="onBuyNow(item.productId)"
                            class="btn btn-primary view-more mr-2"
                            >Mua ngay</a
                          >
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-12">
        <div class="iq-card iq-card-block iq-card-stretch iq-card-height">
          <div
            class="iq-card-header d-flex justify-content-between align-items-center position-relative"
          >
            <div class="iq-header-title">
              <h4 class="card-title mb-0">Blog thời trang</h4>
            </div>
            <div class="iq-card-header-toolbar d-flex align-items-center">
              <a
                [routerLink]="['/blog']"
                class="btn btn-sm btn-primary view-more"
                >Xem Thêm</a
              >
            </div>
          </div>
          <div class="iq-card-body">
            <div class="row">
              <div
                class="card-category row justify-content-center align-items-center container m-auto"
              >
                <div
                  class="col-md-4 my-4"
                  *ngFor="
                    let item of blogs
                      | paginate : { itemsPerPage: 3, currentPage: page }
                  "
                >
                  <div class="sp-card-2">
                    <div class="overlap">
                      <a
                        (click)="getDetailBlog(item.blogId)"
                        style="cursor: pointer"
                        title="View Details"
                        >View Details</a
                      >
                    </div>
                    <div class="card-image">
                      <img
                        src="{{ item.blogImage }}"
                        alt="{{ item.blogTitle }}"
                      />
                    </div>
                    <div class="card-content">
                      <span class="card-title">{{ item.blogTitle }}</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Page Content END  -->
<app-footer></app-footer>
