<div class="iq-sidebar">
  <div class="iq-sidebar-logo d-flex justify-content-between">
    <a [routerLink]="['/']" class="header-logo">
      <img src="images/logo.png" class="img-fluid rounded-normal" alt="">
      <div class="logo-title">
        <span class="text-primary text-uppercase">TUANFLUTE</span>
      </div>
    </a>
  </div>
  <div id="sidebar-scrollbar">
    <nav class="iq-sidebar-menu">
      <ul id="iq-sidebar-toggle" class="iq-menu">
        <li><a [routerLink]="['/']"><i class="las la-home iq-arrow-left"></i>Trang Chủ</a></li>
        <li>
          <a href="#ui-elements" class="iq-waves-effect collapsed" data-toggle="collapse" aria-expanded="false"><i
              class="lab la-elementor iq-arrow-left"></i><span>Danh mục sản
              phẩm</span><i class="ri-arrow-right-s-line iq-arrow-right"></i></a>
          <ul id="ui-elements" class="iq-submenu collapse" data-parent="#iq-sidebar-toggle">
            <li class="elements" *ngFor="let item of categories">
              <a (click)="getByCategoryId(item.categoryId)" href="#sub-menu" class="iq-waves-effect collapsed" data-toggle="collapse" aria-expanded="false"><i
                  class="ri-play-circle-line"></i><span>{{ item.categoryName }}</span><i
                  class="ri-arrow-right-s-line iq-arrow-right"></i></a>
            </li>
          </ul>
        </li>
        <li><a [routerLink]="['/product']"><i class="ri-book-line"></i>Tất cả sản phẩm</a></li>
        <li><a [routerLink]="['/blog']"><i class="ri-book-line"></i>Tin tức</a></li>
        <li><a [routerLink]="['/coupon']"><i class="ri-book-line"></i>Voucher</a></li>
      </ul>
    </nav>
  </div>
</div>
