<!-- TOP Nav Bar -->
<div class="iq-top-navbar">
  <div class="iq-navbar-custom">
    <nav class="navbar navbar-expand-lg navbar-light p-0">
      <div class="iq-menu-bt d-flex align-items-center">
        <div class="wrapper-menu">
          <div class="main-circle">
            <i class="las la-bars"></i>
          </div>
        </div>
        <div class="iq-navbar-logo d-flex justify-content-between">
          <a [routerLink]="['/admin']" class="header-logo"> 
            <!-- <img src="" class="img-fluid rounded-normal" alt=""> -->
            <div class="logo-title">
              <span class="text-primary text-uppercase">Admin Panel</span>
            </div>
          </a>
        </div>
      </div>
      <div class="navbar-breadcrumb">
        <h4 class="mb-0 text-dark">Admin</h4>
        <p class="mb-0">
          <span class="text-primary">Xin chào {{ u_data.userName }}, </span>Chào
          mừng bạn trở lại hồ sơ của bạn
        </p>
      </div>

      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-label="Toggle navigation">
        <i class="ri-menu-3-line"></i>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto navbar-list">
          <li class="nav-item nav-icon"><a href="#" class="search-toggle iq-waves-effect text-gray rounded"> <i
                class="ri-notification-2-line"></i> <span class="bg-primary dots"></span>
            </a>
            <div class="iq-sub-dropdown">
              <div class="iq-card shadow-none m-0">
                <div class="iq-card-body p-0 ">
                  <div class="bg-primary p-3">
                    <h5 class="mb-0 text-white">
                      Tất cả tin nhắn<small class="badge  badge-light float-right pt-1">{{ dataCountMessage }}</small>
                    </h5>
                  </div>

                  <a href="#" class="iq-sub-card" *ngFor="let item of data">
                    <div class="media align-items-center">
                      <div class="">
                        <img *ngIf="!item.userAvatar" class="avatar-40 rounded" src="../../../../../assets/images/default.png" alt="">
                        <img *ngIf="item.userAvatar" class="avatar-40 rounded" src="{{item.userAvatar}}" alt="">
                      </div>
                      <div class="media-body ml-3">
                        <h6 class="mb-0 ">{{ item.userName }}</h6>
                        <small class="float-left font-size-12">Đã tạo tài
                          khoản thành công</small>
                      </div>
                    </div>
                  </a>

                </div>
              </div>
            </div>
          </li>

          <div *ngIf="u_data">
            <li class="line-height pt-3"><a href="#" class="search-toggle iq-waves-effect d-flex align-items-center">
                <img *ngIf="!u_data.userAvatar" src="../../../../../assets/images/default.png" class="img-fluid rounded-circle mr-3"
                  alt="avatar">
                <img *ngIf="u_data.userAvatar" src="{{u_data.userAvatar}}" class="img-fluid rounded-circle mr-3"
                  alt="avatar">

                <div class="caption">
                  <h6 class="mb-1 line-height">{{ u_data.userName }}</h6>
                  <p class="mb-0 text-primary">{{ u_data.userEmail }}</p>
                </div>
              </a>
              <div class="iq-sub-dropdown iq-user-dropdown">
                <div class="iq-card shadow-none m-0">
                  <div class="iq-card-body p-0 ">
                    <div class="bg-primary p-3">
                      <h5 class="mb-0 text-white line-height">Xin chào
                        {{ u_data.userName }}
                      </h5>
                      <span class="text-white font-size-12">Sẵn sàng</span>
                    </div>
                    <div class="d-inline-block w-100 text-center p-3">
                      <a class="bg-primary iq-sign-btn" href="javascript:void();" (click)="logout()">Đăng xuất<i
                          class="ri-login-box-line ml-2"></i></a>
                    </div>
                  </div>
                </div>
              </div>
            </li>
          </div>
        </ul>
      </div>
    </nav>
  </div>
</div>
<!-- TOP Nav Bar END -->
