<app-header></app-header>

<main>
  <div class="text-center box-title">
    <nav class="breadcrumb text-center d-flex justify-content-center">
      <a class="breadcrumb-item default" routerLink="/">Home</a>
      <span class="breadcrumb-item active">Shop</span>
    </nav>
  </div>
  <div class="container-fluid">
    <div class="row">
      <nav class="col-md-2 d-none d-md-block sidebar">
        <h2>Danh mục sản phẩm</h2>
        <ul class="list-group">
          <li *ngFor="let item of categories" class="list-group-item" (click)="getByCategoryId(item.categoryId)">{{item.categoryName}}</li>
        </ul>
      </nav>

      <div class="col-md-9">
        <!-- Product & Shop Cards-->
        <div class="row justify-content-center">
          <div class="">
            <div class="w-100 iq-search-filter">
              <ul class="list-inline p-0 m-0 row justify-content-center search-menu-options">
                <li class="search-menu-opt">
                  <div class="iq-search-bar search-book d-flex align-items-center">
                    <form [formGroup]="myGroup" class="searchbox" style="width: 360px">
                      <input type="text" class="text search-input" placeholder="Bạn muốn tìm gì ??..."
                        formControlName="keywords" (input)="handleChange($event)" />
                      <a class="search-link"><i class="ri-search-line"></i></a>
                    </form>
                  </div>
                </li>
              </ul>
            </div>
          </div>
          <div class="col-md-2">
            <form action="">
              <div class="form-group">
                <select class="form-control" name="" id="">
                  <option>Lọc giá</option>
                  <option>Price: a-z</option>
                  <option>Price: z-a</option>
                </select>
              </div>
            </form>
          </div>
        </div>
        <div class="iq-card">
          <div class="iq-card-body">
            <div class="row">
              <div class="card-category row justify-content-center align-items-center container m-auto">
                <div class="col-md-4 my-4" *ngFor="
                    let item of products
                      | paginate : { itemsPerPage: 12, currentPage: page }
                  ">
                  <div class="sp-card-2">
                    <div class="overlap">
                      <a (click)="getDetailProduct(item.productId)" style="cursor: pointer" title="View Details">View
                        Details</a>
                    </div>
                    <div class="card-image">
                      <img src="{{ item.productImage }}" alt="{{ item.productName }}" />
                    </div>

                    <div class="card-content">
                      <span class="card-title">{{ item.productName }}</span>
                      <div class="d-flex my-2" *ngIf="item.productSalePrice == 0">
                        <span class="price-start">
                          <td>
                            {{
                            item.productPrice
                            | currency : "VND" : "symbol" : "1.0-2"
                            }}
                          </td>
                        </span>
                      </div>
                      <div class="d-flex my-2" *ngIf="
                          item.productSalePrice > 0 &&
                          item.productSalePrice < item.productPrice
                        ">
                        <span class="price-start">
                          <td>
                            {{
                            item.productSalePrice
                            | currency : "VND" : "symbol" : "1.0-2"
                            }}
                          </td>
                        </span>
                        <span class="price-end" style="
                            text-decoration: line-through;
                            color: #6d6767;
                            margin-left: 10px;
                          ">
                          {{
                          item.productPrice
                          | currency : "VND" : "symbol" : "1.0-2"
                          }}
                        </span>
                      </div>
                      <div class="card-caption">
                        {{ item.category_name }}
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <pagination-controls class="pagination" (pageChange)="page = $event" previousLabel=""
                nextLabel=""></pagination-controls>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
<app-footer></app-footer>