<!-- Sign in Start -->
<section class="sign-in-page">
    <div class="container p-0">
      <div class="row no-gutters height-self-center">
        <div class="col-sm-12 align-self-center page-content rounded">
          <div class="row m-0">
            <div class="col-sm-12 sign-in-page-data">
              <div class="sign-in-from bg-primary rounded">
                <h3 class="mb-0 text-center text-white">Fogot Password</h3>
                <p class="text-center text-white">
                  Enter your email address .
                </p>
                <form [formGroup]="dataFormPost" (submit)="handleSubmit()" class="mt-4 form-text">
                
                    <div class="form-group">
                        <label for="exampleInputEmail2">Email address</label>
                        <input type="email" formControlName="email" class="form-control mb-0" id="exampleInputEmail2"
                          placeholder="Your email">
                        <div class="box-message"
                          *ngIf="dataFormPost.controls.email.invalid && (dataFormPost.controls.email.touched || dataFormPost.controls.email.dirty)">
                          <div *ngIf="dataFormPost.controls.email.errors">
      
                            <div *ngIf="dataFormPost.controls.email.errors['required']" style="color: red;">
                              Email không được bỏ trống !
                            </div>
                            <div *ngIf="dataFormPost.controls.email.errors['email'] " style="color: red;">
                              Email sai định dạng !
                            </div>
                          </div>
                        </div>
                      </div>
            
                  <div class="sign-info text-center">
                    <button type="submit" *ngIf="dataFormPost.valid"
                      class="btn btn-white d-block w-100 mb-2">Submit</button>
                    <button type="submit" *ngIf="!dataFormPost.valid" disabled
                      class="btn btn-white d-block w-100 mb-2">Submit</button>
                    <span class="text-dark d-inline-block line-height-2">Don'Already Have Account ? <a routerLink="/login"
                        class="text-white">Login</a></span>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  